body {
    font-family: 'Lexend Deca', sans-serif;
    color: black;
    margin: auto;
    width: 640px;
    padding: 50px;
}

header h1 {
    color: #fc4445;
    text-align: center;
}

h2 {
    color: #55bcc9;
}

section {
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
